<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous"/>
<title>Neuer Tagebucheintrag</title>
</head>
<body>

  	<nav class ="navbar navbar-expand-sm navbar-dark bg-dark"> <!--  nav-items disappear if browser shrinks below a certain size -->
  		<a href = "#" class="navbar-brand">Medi-Portal</a>
  		<button class ="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
  			<span class ="navbar-toggler-icon"></span>	<!--  toggle button for smaller screens to show navbar -->
  		</button>
  		<div class ="collapse navbar-collapse" id="navbarMenu">
	  		<ul class="navbar-nav"> <!--  navbar wrapper around all the items of the list -->
	  			 <li class = "nav-item">	<!--  single list item -->
	  				<a href="/medJourEntries/view" class ="nav-link">Zurück zu meinem Tagebuch</a>
	  			</li>
	  			<li class = "nav-item">	<!--  single list item -->
	  				<a href=".." class ="nav-link">Zurück zur Startseite</a>
	  			</li>
	  		</ul>
  		</div>
  	</nav>

  	
	<form action = "#" th:action="@{/medJourEntries/add}" th:object=${medicalJournalEntry} method ="post">
		<div class="form-group">
    		<label for="journalEntryDate">Datum</label>
    		<input type="text" th:field="*{ldJournalEntryDate}" class="form-control" id="journalEntryDate" aria-describedby="dateHelp" placeholder="Hier Datum einfügen">
    		<div th:if="${#fields.hasErrors('${medicalJournalEntry.ldJournalEntryDate}')}">
  				<div class="alert alert-danger" role="alert">
  					Bitte geben Sie ein korrektes Datum der Form 'DD-MM-JJJJ' an!'
				</div>
			</div>
    		<small id="dateHelp" class="form-text text-muted">Das Datum für den Tagebucheintrag</small>
    		

  		</div>
  		
  		<div class="form-group">
    		<label for="note">Notiz</label>
    		<input type="text" th:field="*{strNote}" class="form-control" id="note" aria-describedby="dateHelp" placeholder="Platz für Notizen">
    		<small id="dateHelp" class="form-text text-muted">Eine Notiz für den Tagebucheintrag</small>
  		</div>
		
		<button type="submit" class="btn btn-primary">Tagebucheintrag erstellen</button>
		<button type="reset" class="btn btn-primary">Felder zurücksetzen</button>
	</form>
	
	<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
	

</body>
</html>