<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<title>Ihre Tagebucheinträge</title>
</head>

<body>

  	<nav class ="navbar navbar-expand-sm navbar-dark bg-dark"> <!--  nav-items disappear if browser shrinks below a certain size -->
  		<a href = "#" class="navbar-brand">Medi-Portal</a>
  		<button class ="navbar-toggler" data-toggle="collapse" data-target="#navbarMenu">
  			<span class ="navbar-toggler-icon"></span>	<!--  toggle button for smaller screens to show navbar -->
  		</button>
  		<div class ="collapse navbar-collapse" id="navbarMenu">
	  		<ul class="navbar-nav"> <!--  navbar wrapper around all the items of the list -->
	  			<li class = "nav-item">	<!--  single list item -->
					<!--TODO: create und add noch nicht so übersichtlich: ein Link möglich? -->
	  				<a href="/medJourEntry/create" class ="nav-link">Neuen Eintrag erstellen</a>
	  			</li>
	  			<li class = "nav-item">	<!--  single list item -->
	  				<a href="/" class ="nav-link">Zurück zur Startseite</a>
	  			</li>
	  		</ul>
  		</div>
  	</nav>

<div th:switch = "medicalJournalEntries">
	<h2 th:case="null">Sie besitzen noch keine Tagebucheinträge.</h2>
	<div th:case="*">
		<!--  <h2>Tagebucheinträge</h2>-->
		<table class="table table-striped table-hover table-sm">
			<thead>
				<tr>
					<th scope ="col">Datum</th>
					<th scope ="col">Notiz</th>
					<th scope ="col">Puls</th>
					<th scope ="col">Gewicht</th>
					<th scope ="col">Körpergröße</th>
					<th scope ="col">Bearbeiten</th>
					<th scope ="col">Löschen</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="medicalJournalEntry : ${medicalJournalEntries}">
					<td th:text="${#temporals.format(medicalJournalEntry.ldJournalEntryDate,'dd.MM.yyyy')}"></td>
					<td th:text="${medicalJournalEntry.strNote}"></td>
					<td th:text="${medicalJournalEntry.shPulse}"></td>
					<td th:text="${medicalJournalEntry.shWeight}"></td>
					<td th:text="${medicalJournalEntry.shHeight}"></td>
					<td><a th:href="@{/medJourEntry/edit/{id}(id=${medicalJournalEntry.lngJournalEntryId})}">Bearbeiten</a></td>
					<td><a th:href="@{/medJourEntry/delete/{id}(id=${medicalJournalEntry.lngJournalEntryId})}">Löschen</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>